@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  padding: 3px 6px;
  vertical-align: middle;
  color: inherit;
}

table {
  text-align: center;
  border-collapse: collapse;
}

button {
  margin: 20px;
  background: #6dcf4b;
  border: 0;
  border-radius: 35px;
  color: white;
  padding: 10px 25px;
  width: fit-content;
  align-self: flex-end;
}

button:disabled {
  background: #878787;
}

#root {
  display: flex;
  flex-direction: row;
}

.Main {
  display: flex;
  padding: 30px;
  gap: 20px;
  width: 100%;
}

.Main > div:nth-child(2) {
  margin-top: 100px;
  width: 65%;
}

.onlineTime {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #50abff;
  position: absolute;
  top: 40px;
  right: 60px;
}

/* <-----------******----------> */
/*             Navbar            */

.navbar {
  background: #e7e8f0;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 40px;
  height: -webkit-fill-available;
  padding-top: 30px;
}

.navbar div {
  margin-left: 30px;
}

.profile {
  display: flex;
}

.profile i {
  margin: auto 0;
  font-size: 3em;
}

.profile i svg {
  border: 3px solid;
  border-radius: 50%;
}

.profile .title {
  margin: 5px 10px;
  vertical-align: middle;
}

.profile .title * {
  margin: 0;
}

.profile .title p {
  color: white;
  border-radius: 15px;
  width: fit-content;
  padding: 2px 10px;
}

.student .title p {
  background: #50abff;
}

.student i svg {
  border-color: #50abff;
}

.teacher .title p {
  background: #7fed6e;
}

.teacher i svg {
  border-color: #7fed6e;
}

.admin .title p {
  background: #ed6e6e;
}

.admin i svg {
  border-color: #ed6e6e;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.3em;
}

.menu a {
  display: flex;
  vertical-align: middle;
  gap: 20px;
  color: black;
  text-decoration: none;
  padding: 3px 15px;
  vertical-align: middle;
}

.menu a.active {
  background: white;
  border-top-left-radius: 37px;
  border-bottom-left-radius: 37px;
}

.menu a svg {
  margin: auto 0;
}




/* <-----------******----------> */
/*              Main             */

.main {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.main h2 {
  color: #50abff;
}

.main table tbody td {
  padding: 6px 20px;
  line-height: 40px;
}

.main table thead tr {
  border-bottom: 4px solid red;
}

.main table tbody tr {
  border-top: 10px;
  border-bottom: 10px;
}

.main table td:first-child {
  text-align: left;
  text-indent: 5px;
}

.main table td a {
  padding: 5px 10px;
  color: white;
  border-radius: 24px;
}

.main table tbody tr.active td:nth-child(-n + 4) {
  background: rgba(47, 219, 85, 0.37);
}

.main table tbody tr.active td:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.main table tbody tr.active td:nth-child(4) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.main table tbody tr.accepted a {
  background: #7fed6e;
}

.main table tbody tr.active a {
  background: #50abff;
}

.main table tbody tr.notActive a {
  background: #ffb13c;
}

/* <-----------******----------> */
/*           Statistics          */

.statistics {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
}

.statistics h2 {
  color: #50abff;
}

.statistics table tr {
  border-bottom: 2px solid #d9d9d9;
}

.statistics table td,
.statistics table th {
  text-align: center;
  width: max-content;
  padding: 20px;
}

.statistics .showStatBtn {
  margin: 30px 20px;
  background: #50abff;
  align-self: flex-end;
  border: 0;
  color: white;
  border-radius: 28px;
  font-size: large;
  padding: 10px 20px;
}

/* <-----------******----------> */
/*        Subject Statistics     */

.statistics .subjectStat table col {
  border-right: 2px solid #d9d9d9;
}

.statistics .subjectStat > div {
  display: grid;
  margin: 60px auto;
}

.statistics .subjectStat h4 {
  grid-area: 1/1/2/3;
}

.statistics .subjectStat .pieChart {
  display: flex;
  align-items: center;
}

.statistics .subjectStat .pieChart > div {
  width: 100%;
}

/* <-----------******----------> */
/*         Special Reason        */

.special_reason {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 800px;
}

.special_reason h2 {
  color: #50abff;
}

.special_reason .date_chooser {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.special_reason .date_chooser label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.special_reason label input,
select,
option {
  background: #a1a4a0;
  border-radius: 35px;
  border: 0px;
  padding: 10px 20px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.file-upload {
  margin-top: 30px;
  text-align: center;
  border: 3px dashed rgb(210, 227, 244);
  padding: 1.5rem;
  position: relative;
  cursor: pointer;
}

.file-upload p {
  font-size: 0.87rem;
  margin-top: 10px;
  color: #bbcada;
}

.file-upload input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.special_reason form button {
  float: right;
  cursor: pointer;
  margin: 10px auto;
  font-size: 1rem;
  font-weight: 400;
}

.special_reason .comment {
  margin: 20px 0;
}

.comment textarea {
  width: 98%;
  height: 8rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  resize: vertical;
}

/* <-----------******----------> */
/*            Message            */

.messages_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.messages > h2 {
  color: #50abff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.messages_container .returnBtn {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 1.5em;
  order: -1;
  color: #50abff;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.messages div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid #50abff;
  align-items: center;
}

.messages div .dot {
  display: flex;
  align-items: center;
  width: 10px;
  height: 55px;
  color: #50abff;
  font-size: 2em;
}

.messages div .content {
  flex-grow: 1;
}

.messages .sender {
  flex-grow: 1;
  color: #50abff;
  text-decoration: underline;
}

.message .message_header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #50abff;
  padding: 15px;
}

.message .sender {
  color: #50abff;
  text-decoration: underline;
}

.message_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.message_content .request {
  padding: 30px;
  margin-top: 20px;
  background: #e7e8f0;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

.message_content .request .request_title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.message_content .request .request_action {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.message_content .request .denyBtn {
  background: red;
}

/* <-----------******----------> */
/*             Setting           */

.setting {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings_container h2 {
  color: #50abff;
  font-size: 1.8em;
}

.settings_container h4 {
  color: #9da0a3;
  font-size: 1.4em;
  border-bottom: 2px solid rgba(139, 139, 139, 0.48);
}

.permitted_users tr {
  width: 100%;
  border-bottom: 3px solid rgba(80, 171, 255, 0.48);
}

.permitted_users table {
  width: 100%;
}

.no_permitted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px 0;
}

.no_permitted button {
  align-self: center;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search h2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search form input {
  width: 60%;
  border: 3px solid #d9d9d9;
  border-radius: 30px;
  padding: 5px 20px;
}

.search_results {
  display: flex;
  flex-direction: column;
}
