
.navbar {
  background: #e7e8f0;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 40px;
  height: -webkit-fill-available;
  padding-top: 30px;
}

.navbar div {
    margin-left: 30px;
}

.profile {
  display: flex;
}

.profile i {
  margin: auto 0;
  font-size: 3em;
}

.profile .title {
  margin: 5px 10px;
  vertical-align: middle;
}

.profile .title * {
  margin: 0;
}

.profile .title p {
  color: white;
  background: #50abff;
  border-radius: 15px;
  width: fit-content;
  padding: 2px 10px;
}


.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.3em;
}

.menu a {
    display: flex;
    vertical-align: middle;
    gap: 20px;
    color: black;
    text-decoration: none;
    padding: 3px 6px;
    vertical-align: middle;
}

.menu a.active {
    background: white;
    border-top-left-radius: 37px;
    border-bottom-left-radius: 37px;
}

.menu a svg {
    margin: auto 0;
}
